# Base de datos remota principal (MySQL/MariaDB)
DB_REMOTE_HOST=localhost
DB_REMOTE_PORT=3306
DB_REMOTE_USER=root
DB_REMOTE_PASSWORD=tu_password_aqui
DB_REMOTE_NAME=alquiler_vehiculos

# Base de datos remota secundaria (MySQL/MariaDB) - Para redundancia
DB_REMOTE_HOST2=localhost
DB_REMOTE_PORT2=3306
DB_REMOTE_USER2=bases
DB_REMOTE_PASSWORD2=12345
DB_REMOTE_NAME2=Alquiler_vehiculos

# Ruta de la base de datos SQLite local
LOCAL_DB_PATH=data/local.sqlite

# Intervalo de verificación de conexiones (en minutos)
DB_WORKER_INTERVAL=20
